<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Error</h1>
    <h2 class="text-center">{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
  </div>
</div>
</body>
</html>
