<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Node Octobox</h1>
        <p class="text-center">Take back control of your GitHub notifications</p>
        <p class="text-center">Node.js port of <a href="https://github.com/octobox/octobox">Octobox</a></p>
        <div class="text-center">
          <p>
            <a href="/login" class="btn btn-default btn-lg">Sign in with GitHub</a>
          </p>
          <p>
            <a class="github-button" href="https://github.com/doowb/node-octobox" data-icon="octicon-star" data-style="mega" data-count-href="/doowb/node-octobox/stargazers" data-count-api="/repos/doowb/node-octobox#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star doowb/node-octobox on GitHub">Star</a>
            <a class="github-button" href="https://github.com/doowb/node-octobox/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/doowb/node-octobox/network" data-count-api="/repos/doowb/node-octobox#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork doowb/node-octobox on GitHub">Fork</a>
          </p>
        </div>
      </div>
    </div>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
